$text-nav-color: #4e2846; 

$bg-img-main: "../img/4.jpg";

$img-item-look-1: "5.jpeg";
$img-item-look-2: "6.jpg";
$img-item-look-3: "7.jpg";

$item-text-h3-color: #9f86b7;
$item-text-p-color: #69395e;

$bg-your-reviews-color: #8a6f8d;
$text-bg-twit-review-color: #caa2cb;

$bg-find-your-own-color: #9f86a2 ;   
$text-h2-find-your-own-color: #4e285b;
$line-find-your-own-color: #31262c;

$bg-footer-color: #5d3d85 ;
$text-h2-footer-color: #b965f6;
$text-p-btn-footer-color: #4f0a5e;
$text-li-footer-color: #8a46db;

