$text-nav-color: #c1d1df;

$bg-img-main: "../img/0.jpg";;

$img-item-look-1: "1.jpg";
$img-item-look-2: "2.jpg";
$img-item-look-3: "3.jpg";

$item-text-h3-color: #8695b4 ;
$item-text-p-color: #395369;
 
$bg-your-reviews-color: #8d6f79;
$text-bg-twit-review-color: #cba2b0;

$bg-find-your-own-color: #8695a2;   
$text-h2-find-your-own-color: #b9c9dd;
$line-find-your-own-color: #5e6872;

$bg-footer-color: #3d5585 ;
$text-h2-footer-color: #659afe;
$text-p-btn-footer-color: #0a275e ;
$text-li-footer-color: #467ade;  